<mat-toolbar color="primary" class="mat-elevation-z6">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-1">
				<button mat-icon-button (click)="onToggleSidenav()">
					<mat-icon class="toolbar-icon">menu</mat-icon>
				</button>
			</div>
			<div class="col-sm-5" >
				{{ function() | translate}}
			</div>
			<div class="col-sm-3">
				<!-- <a routerLink="/home">Owner-Account</a> -->
				<button mat-icon-button (click)="onTenantClick()">
					<mat-icon class="toolbar-icon">info</mat-icon>
				</button>
				{{tenant()}}
			</div>
			<div class="col-sm-3 d-flex flex-row-reverse bd-highlight">
				<button mat-icon-button (click)="onMoreClick()">
				 	<mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Other">more_vert</mat-icon>
				</button>
				<button mat-icon-button (click)="onFavoritesClick()">
				 	<mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Favorites">favorite</mat-icon>
				</button>
				<button mat-icon-button (click)="onUserClick()">
				 	<mat-icon class="toolbar-icon" aria-hidden="false" aria-label="User account">verified_user</mat-icon>
				</button>
			</div>
		</div>
	</div>
</mat-toolbar>