<div class="mat-elevation-z4 mat-buttons buttons-bar" #overlayOrigin="cdkOverlayOrigin" cdkOverlayOrigin>
	<div class="row">
		<div class="col-sm-6">
			<button mat-button (click)="back()" class="command-left-button">
				<mat-icon class="right8">keyboard_backspace</mat-icon>{{ 'global.label.back' | translate }}
			</button>
		</div>
		<div class="col-sm-6">
			<button mat-button (click)="save()" class="command-button">
				<mat-icon class="right8">save</mat-icon>{{ 'global.label.save' | translate }}
			</button>
			<button mat-button (click)="delete()" class="command-button">
				<mat-icon class="right8">delete</mat-icon>{{ 'global.label.delete' | translate }}
			</button>
		</div>
	</div>	
</div>
<!-- 
<hr-overlay-panel class="panel mat-elevation-z16" [isOpen]="showPicker" [overlayOrigin]="overlayOrigin" (close)="pickClose($event)" (open)="pickOpen($event)"> <!-- <hr-overlay-panel [isOpen]="isOpen" (close)="filtersClose($event)" (open)="filtersOpen($event)"> 
<app-stati-pick *ngIf="showStatiPick" (select)="selectStato($event)" (cancel)="cancelPick($event)">
</app-stati-pick>
</hr-overlay-panel>
 -->
<div class="mat-elevation-z2 mat-edit-card">
<!-- 	<form [formGroup]="mainForm" (ngSubmit)="onSubmit()"> -->
	<form [formGroup]="mainForm">
		<div class="row">
			<div class="col-sm-6" *ngIf="canViewField('codice')">
				<div class="row">
					<div class="col-sm-12 left8">
						<mat-form-field class="w95">
							<input [disabled]="!canManageField('codice')" matInput placeholder="{{ 'table.label.codice' | translate }}" formControlName="codice" />
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-sm-6" *ngIf="canViewField('descrizione')">
				<div class="row">
					<div class="col-sm-12 left8">
						<mat-form-field class="w95">
							<input [disabled]="!canManageField('descrizione')"
							placeholder="{{ 'table.label.descrizione' | translate }}" 
							matInput  formControlName="descrizione" />
						</mat-form-field>
					</div>
				</div>
			</div>
<!-- TODO Pick stato			
			<div class="col-sm-6" *ngIf="canViewField('isoAlpha2')">
				<div class="row">
					<div class="col-sm-12 left8">
						<mat-form-field class="w95">
							<input [disabled]="!canManageField('isoAlpha2')"
							placeholder="{{ 'stato.label.isoAlpha2' | translate }}" 
							matInput  formControlName="isoAlpha2" />
						</mat-form-field>
					</div>
				</div>
			</div>
 -->
		</div>
		<div class="row">
			<div class="col-sm-6" *ngIf="canViewField('inizio')">
				<div class="row">
					<div class="col-sm-12 left8">
						<mat-form-field class="w95">
								<input [disabled]="!canManageField('inizio')" matInput [matDatepicker]="pick_inizio"
									placeholder="{{ 'table.label.inizio' | translate }}" formControlName="inizio" />
							  	<mat-datepicker-toggle matSuffix [for]="pick_inizio"></mat-datepicker-toggle>
							  	<mat-datepicker #pick_inizio></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-sm-6" *ngIf="canViewField('fine')">
				<div class="row">
					<div class="col-sm-12 left8">
						<mat-form-field class="w95">
								<input [disabled]="!canManageField('fine')" matInput [matDatepicker]="pick_fine"
									placeholder="{{ 'table.label.fine' | translate }}" formControlName="fine" />
							  	<mat-datepicker-toggle matSuffix [for]="pick_fine"></mat-datepicker-toggle>
							  	<mat-datepicker #pick_fine></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>
<!-- 		
		<app-pick-table codeLabel="stato.pick.code" descLabel="stato.pick.desc" (pick)="pickOpen()">
		</app-pick-table>
 -->		
		<div class="row">
			<div class="col-sm-12" *ngIf="canViewField('stato')">
				<div class="row">
					<div class="col-sm-12 left8">
						<app-pick-table codeLabel="stato.pick.code" descLabel="stato.pick.desc" (pick)="pickOpen()"
						[table]="entity.stato"
						>
						</app-pick-table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
